services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: derby_db
    ports:
      - "5432:5432"

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.nx
      - /app/dist
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/derby_db
      - NODE_ENV=development
    command: npx nodemon

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "4200:4200"
    depends_on:
      - api
